<a href="https://colab.research.google.com/github/jemmychen365/gpt-ai-assistant/blob/main/20240515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown教學

**這是內文** **ABC** 這是 *ABC* 內文這是內文 ***ABC*** 這是內文 `Ctrl+C` 這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文

這是內文這是內文[這是內文](https://www.google.com)  
這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文

---

1. 編號1：這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文
2. 編號2
3. 編號3

* 項目一
    * 項目一之一
* 項目二
* 項目三

> 小技巧  
這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文這是內文

```
print("Hello World")
print("Hello Kitty")
print("123")
```
https://www.google.com

[Google](https://www.google.com)

![](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)

[![](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)](https://www.google.com "前往Google")

In [ ]:
print("Hello World")
print("Hello Kitty")
print("123")

Hello World
Hello Kitty
123

# 一、變數與資料型態

## 宣告變數

* 名稱必須**大小寫英文字母、數字**及**_**。
* 命名時注意的第一個字母必須是大小寫字母或_，不能是數字。
* 大小寫有區分，不要用到保留字。

In [ ]:
x = 0
y = 1
a = b = c = 0
age, name = 18, "David"

print(x, y)
print(a, b, c)
print(age, name)

0 1
0 0 0
18 David

## 資料型態
* **整數(int)**, **浮點數(float)**, **字串(str)**, **布林值(bool)** True/False
* type()查看資料型態
* 資料型態的轉換 int(), float(), str(), bool()

In [ ]:
age = 18
pi = 3.14
name = "David"
isMarry = True

print(type(age))
print(type(pi))
print(type(name))
print(type(isMarry))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# 二、輸出：print()

```
print(值1, 值2, ..., sep=' ', end='\n')
```

In [ ]:
# print(100, "多吃水果", True)
# print(str(100) + "多吃水果" + str(True))
# print(100, "多吃水果", True, sep="&")
# print(100, "多吃水果", True, end="\n")
print('a', end=',')
print('b', end=',')
print('c', end=',')

a,b,c,

## print()格式化輸出：format()

In [ ]:
print("王小明考了80分")
print("{}考了{}分".format('李大壯', 90))
print("{0}考了{1}分".format("王小明", 80))
print("考了{1}分的人是{0}".format("王小明", 80))
print("考了{1}分的人是{0}, 真的是{0}啊！".format("王小明", 80))
print("{0:5}考了{1:3}分".format("王小明", 80))
print("{0:>5}考了{1:<3}分".format("王小明", 80))
print("{0:^5}考了{1:3}分".format("王小明", 80))
print("圓周率是{0:.2f}".format(3.14159))
print("{:5}考了{:3}分".format("王小明", 80))

王小明考了80分
李大壯考了90分
王小明考了80分
考了80分的人是王小明
考了80分的人是王小明, 真的是王小明啊！
王小明  考了 80分
  王小明考了80 分
 王小明 考了 80分
圓周率是3.14
王小明  考了 80分

## print()格式化輸出：f-string

In [ ]:
name = "David"
age = 18

print("我的名字叫", name, ",今年", age, "歲.", sep="")
print("我的名字叫{},今年{}歲.".format(name, age))
print(f"我的名字叫{name},今年{age}歲.")
print(f"我的名字叫{name:8},今年{age:3}歲.")

我的名字叫David,今年18歲.
我的名字叫David,今年18歲.
我的名字叫David,今年18歲.
我的名字叫David   ,今年 18歲.

In [ ]:
x = 5
y = 6
print(f"x是{x}, y是{y}, 二數相乘是{x*y}.")

x是5, y是6, 二數相乘是30.

# 三、輸入：input()

```
變數 = input("提示字串")
```

* input()取得的值一定是**字串**

In [ ]:
score = input("請輸入你的分數：")
print("你的分數是{}分".format(score))
print(f"你的分數是{score}分")

請輸入你的分數：90
你的分數是90分
你的分數是90分

In [ ]:
score1 = int(input("請輸人你的國文成績："))
score2 = int(input("請輸人你的英文成績："))
score3 = int(input("請輸人你的數學成績："))
total = score1 + score2 + score3
print(f"你的總分是{total}分")

請輸人你的國文成績：80
請輸人你的英文成績：90
請輸人你的數學成績：95
你的總分是265分

# 四、運算

## 算術運算子
```
+ - * / % // **
```

## 比較運算子
```
== != > >= < <=
```

## 邏輯運算子
```
not and or
```

## 複合指定運算子
```
+= -=
```

In [ ]:
a = 5
b = 2
# 算術運算子
print(a + b)
print(a - b)
print(a * b)
print(a / b)        # 除的回傳值一定是浮點數
print(a % b)        # 求餘
print(a // b)       # 求商, 回傳值一定是整數
print(a ** b)       # 求指數

7
3
10
2.5
1
2
25

In [ ]:
# 比較運算子
print(a == b)
print(a != b)
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

False
True
True
True
False
False

In [ ]:
# 複和指定運算子
x = 5
# x = x + 1
# print(x)
# x = x - 1
# print(x)
x += 1
print(x)
x -= 1
print(x)
x *= 2
print(x)
x /= 2
print(x)

6
5
10
5.0

In [ ]:
# 字串運算
x = 'a'
print(x + x)
print(x * 5)
print('-' * 10)

aa
aaaaa
----------

In [ ]:
# 溫度計算轉換器
# 公式：華氏 = 攝氏 * (9/5) + 32
# 輸入：請輸入攝氏溫度
# 輸出：攝氏OO度等於華氏OO度

TC = float(input("請輸入攝氏溫度："))
TF = TC * (9/5) +  32
print(f"攝氏{TC:.2f}度等於華氏{TF:.2f}度")

In [ ]:
# BMI計算機
# 公式 BMI = 體重(kg) / 身高(m)平方
# 程式要求輸入身高(cm)，體重(kg)
# 輸入完畢後之後，會顯示身高OO公分，體重OO公斤，BMI值為OO

h = int(input("請輸入身高(cm):"))
w = int(input("請輸入你的體重(kg):"))
bmi = w / (h / 100)**2
print(f"身高{h}公分,體重{w}公斤,BMI值為{bmi:.2f}.")

請輸入身高(cm):170
請輸入你的體重(kg):68
身高170公分,體重68公斤,BMI值為23.53.

# 五、判斷式

In [ ]:
# 單向判斷式
score = int(input("請輸入你的成績："))
if score >= 60:
    print("Pass")

請輸入你的成績：55

In [ ]:
# 雙向判斷式
score = int(input("請輸入你的成績："))
if score >= 60:
    print("Pass")
else:
    print("Down")

請輸入你的成績：55
Down

In [ ]:
# 多向判斷式
score = int(input("請輸入你的成績："))
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("Down")

請輸入你的成績：55
Down

In [ ]:
# 範例：判斷奇偶數
# 程式要求你輸入一個正整數
# 輸入完畢之後程式會顯示 OO數為奇數/偶數
num = int(input("請輸入一個正整數："))
if num % 2 == 0:
    print(f"{num}是偶數")
else:
    print(f"{num}是奇數")

請輸入一個正整數：5
5是奇數

In [ ]:
# 範例：判斷閏年
# 請使用者輸入一個西元年，判斷該年是否為閏年
# 閏年規則：
# 若是整百年，又能被400整除，則為閏年
# 若不是整百年，但能被4整除，也是閏年
# True:2000, 2020, 2024, False:1900, 2023

In [ ]:
# 巢狀雙向判斷式
leapyear = int(input("請輸入一個西元年:"))
if leapyear % 100 == 0:
    if leapyear % 400 == 0:
        print(f"西元{leapyear}年是閏年")
    else:
       print(f"西元{leapyear}年不是閏年")
else:
    if leapyear % 4 == 0:
        print(f"西元{leapyear}年是閏年")
    else:
       print(f"西元{leapyear}年不是閏年")

請輸入一個西元年:2023
西元2023年不是閏年